body{
margin:0;
padding:0;
}
h1{
background-color:blue;
color:white;
text-align:center;
}
ul{
background-color:balck;
}
ul li{
background-color:red;
display:inline-block;
padding:10px;
}
ul li:hover{
background-color:green;
color:white;
padding-left:25px;
transition:1s;
}